---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import PublicationPost from "@components/PublicationPost.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="text-3xl font-bold">Jan Elfes</div>
  <div class="text-2xl py-3 font-bold">
    PhD Candidate | Computational Social Science Researcher
  </div>
  <div class="py-2">
    I'm a PhD candidate in Quantitative and Computational Social Science with
    the School of Information and Communication Studies at the University
    College Dublin, Ireland. My supervisor is <a
      href="https://people.ucd.ie/marco.bastos"
      class="text-blue-500">Marco Bastos</a
    >. I am part of the <a
      href="https://www.ucd.ie/connected_politics/"
      class="text-blue-500">Connected_Politics Lab</a
    > at UCD and affiliated as a guest researcher with the IT University of Copenhagen,
    where I work together with <a
      href="https://www.lajello.com/"
      class="text-blue-500">Luca Aiello</a
    >.
  </div>
  <div class="py-2">
    My research focuses on collective narratives in conflicts. I am using large
    langauge models and structural lingusitic theory to build novel quantitative
    methods to measure narratives. I apply this to investiagte the collective
    construction, diffusion, and evolution of narratives in different conflicts
    and across various online platforms, including news and social media.
  </div>

  <div class="py-2">
    I have a B.Sc. in Physics from Heidelberg University, Germany and an M.Sc.
    in Data Science from the University of Padova, Italy. During this time I
    developed a strong foundation in quantitative methods, programming (Python
    and R), machine learning, and data analysis. My master's thesis focused on
    training Visual Transformer models to detect AI-generated images. I also had
    the opportunity to leave the lab ocassionally and do field research. I
    worked as a Research Project Manager with the <a
      href="https://isdc.org/"
      class="text-blue-500">ISDC</a
    > and <a href="https://www.unocha.org/south-sudan" class="text-blue-500"
      >UN OCHA</a
    > to facilitate an impact evaluation survey in a refugee camp in Bentiu, South
    Sudan.
  </div>
  <div class="py-2">
    Beyond training language models, I find great satisfaction in engaging with
    narratives through theatre. I actively participate in acting and directing
    plays and watch shows in the local theatres on the regular. If you ever come
    across Milo Rau’s “La Reprise”, I highly recommend to go. It might just be
    the best play you will ever see.
  </div>
  <div class="py-2"></div>

  <div class="text-2xl w-full font-bold mb-2">Recent publications</div>
  <div class="py-1">
    Elfes, J. (2025). Mapping News Narratives Using LLMs and
    Narrative-Structured Text Embeddings.
    <em>Proceedings of the 17th ACM Web Science Conference 2025</em>, 326–337. <a
      href="https://doi.org/10.1145/3717867.3717868"
      class="text-blue-500">https://doi.org/10.1145/3717867.3717868</a
    >
  </div>
  <div class="py-1">
    Stojetz, W., Ferguson, N. T. N., Baliki, G., Díaz, O., Elfes, J., Esenaliev,
    D., Freudenreich, H., Koebach, A., Abreu, L., Peitz, L., Todua, A.,
    Schreiner, M., Hoeffler, A., Justino, P., & Brück, T. (2022). The Life with
    Corona survey. <em>Social Science & Medicine</em>, 306, 115109. <a
      href="https://doi.org/10.1016/j.socscimed.2022.115109"
      class="text-blue-500">https://doi.org/10.1016/j.socscimed.2022.115109</a
    >
  </div>
  <div class="py-2"></div>
  <div class="text-2xl w-full font-bold mb-2">Work in progress</div>
  <div class="py-1">
    Elfes, J. <b>(in press)</b>. AI and communication networks. In M. Bastos &
    L. Rossi (Eds.) <em>Handbook of Social and Communication Networks</em>.
    Edward Elgar Publishing.
  </div>
  <div class="py-1">
    Elfes, J., Bastos, T., & Aiello, L. M. On Narrative: The Rhetorical
    Mechanisms of Online Polarisation <b>[under review]</b>
  </div>
  <div class="py-1">
    Elfes, J., & Bastos, M. Structuralist LLM: A Framework for Computational
    Narrative Analysis <b>[under review]</b>
  </div>
  <div class="py-1">
    Weiffen, D., Baliki, G., Elfes, J., & Brück, T. Cash and Cohesion in Crisis:
    On the Impacts of Anticipatory Cash Transfers in IDP Camps in South Sudan
    during Floods <b>[under review]</b>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>



  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
