---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jan Elfes</div>
    <div class="text-3xl py-3 font-bold">
      PhD Candidate | Computational Social Science Researcher
    </div>
    <div class="py-2">
      <text class="text-lg">
        🔭 Research profile <br />
        As a researcher with a strong foundation in Physics and Data Science, I am
        currently immersed in my PhD studies in Quantitative and Computational Social
        Sciences. My research spans across Communication Studies, Data Science, and
        Political Science. Most of my quantitative work happens in Python, building
        Machine Learning Frameworks with PyTorch, TensorFlow, and Huggingface and
        carrying out statistical analysis. I aspire to collaborate with a leading
        tech company soon to amplify the impact of my research on a broader scale.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        🎓 Professional Journey Highlights <br />
        <ul>
          <li>
            <strong>Undergrad in Physics:</strong> Systematically designed and analyzed
            laboratory experiments and analyzed data with Python and R, gaining proficiency
            in quantitative methods.
          </li>
          <li>
            <strong>Research Assistant:</strong> Contributed to scientific publications
            analyzing conflict event data, satellite images, and surveys.
          </li>
          <li>
            <strong>Master's in Data Science:</strong> Enhanced analytical abilities,
            specializing in Natural Language Processing and Image Processing with
            Python. Trained a Visual Transformer model to detect AI-generated images
            for my thesis.
          </li>
          <li>
            <strong>Industry Experience:</strong> As an intern with Wayfair's scam
            detection team, I collaborated with machine learning engineers and scientists
            to enhance scam detection models. Under the guidance of my manager, Brenda
            Penante, I introduced image features that successfully made their way
            into production.
          </li>
          <li>
            <strong>Research Project Manager:</strong> Led a team of 15 for a UN
            OCHA study in a South Sudanese refugee camp. Implemented a longitudinal
            panel survey, ensuring adherence to do-no-harm principles. Coordinated
            the data collection in a culturally diverse environment and under demanding
            health and safety conditions.
          </li>
        </ul>
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        🌐 Current work<br />
        For my PhD, I am working on Natural Language Understanding. Drawing on Linguistic
        theories I am building a theoretical framework for computational narrative
        embeddings. Further, I am implementing this framework with the use of open-source
        Large Language Models to analyse the distribution and development of narratives
        in online spaces.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        🎭 Further interests<br />
        Beyond training language models, I find great satisfaction in engaging with
        narratives through theatre. I actively participate in acting and directing
        plays and watch shows in the local theatres on the regular. If you ever come
        across Milo Rau’s “La Reprise”, I highly recommend to go. It might just be
        the best play you will ever see.
      </text>
    </div>
  </div>
  <div class="mt-8">
    <a class="btn" href="https://twitter.com/manuelernestog" target="_blank">
      Let's connect!</a
    >
    <a
      href="https://github.com/manuelernestog/astrofy"
      target="_blank"
      class="btn btn-outline ml-5"
    >
      Get This template
    </a>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
